.images {
  display: flex;
  gap: 10px; /* space between images */
  flex-wrap: wrap;
}

.images img {
  max-width: 200px;
  width: auto; /* optional */
  height: auto;
  object-fit: contain;
}